@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
	.global-search {
		padding: 20px 0;
		text-align:center;
}
body {
	padding-bottom: 15px;
}
.global-search {
	text-align:center;
	padding:10px;
}
.global-search .form-control {
	width:500px;
}
.global-search * {
	display:inline-block;
	margin-bottom:0;
}
}
.topcorner{
	position:absolute;
	top:2%;
	left:2%;
}
.btn{
	background-color: #4285F4;
	border: none
}
.step-links a{
	color: #4285F4;
}

/* New CSS for NBA project*/
.top-image {
	width: 100%;
	-webkit-filter: grayscale(50%); /* Safari */
    filter: grayscale(20%);
    filter: brightness(60%);
    position: relative;
}

.footer-image {
	margin-bottom: -20px;
	width:100%;
}

.project-name {
	position: absolute;
    text-align: left;
    top: 300px;
    left: 30px;
    text-shadow: 2px 2px 2px white;
    font-size: 55px;
    font-family:Futura;
    color: #006BB7
}

.team-members {
	position: absolute;
    text-align: left;
    top: 380px;
    left: 30px;
    color: orange;
    font-family:Futura;
}